$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1300px;
$full: 1400px;

@mixin smMinBreakPoint {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin mdMinBreakPoint {
  @media (min-width: #{$md}) {
    @content;
  }
}

@mixin lgMinBreakPoint {
  @media (min-width: #{$lg}) {
    @content;
  }
}

@mixin xlMinBreakPoint {
  @media (min-width: #{$xl}) {
    @content;
  }
}

@mixin xxlMinBreakPoint {
  @media (min-width: #{$xxl}) {
    @content;
  }
}

@mixin customMinBreakPoint($size) {
  @media (min-width: ($size+'px')) {
    @content;
  }
}

@mixin customMaxBreakPoint($size) {
  @media (max-width: ($size+'px')) {
    @content;
  }
}
