.small {
  --width: 128px;
  --height: 133px;
  --padding-width: 10px;
  --padding-height: 10px;
  --margin-top: 10px;
  --font-title: 12px;
  --font-subtitle: 10px;
  --padding-icon: 10px;
}

.large {
  --width: 370;
  --height: 330px;
  --padding-width: 30px;
  --padding-height: 40px;
  --margin-top: 20px;
  --font-title: 18px;
  --font-subtitle: 16px;
  --padding-icon: 15px;
}

.wrapper {
  width: var(--width);
  height: var(--height);
  padding: var(--padding-width) var(--padding-height);
  border-radius: 15px;
  background-color: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.icon {
  display: inline-flex;
  align-items: center;
  padding: var(--padding-icon);
}

.square {
  .icon {
    border-radius: 10px;
  }
}

.circle {
  .icon {
    border-radius: 999px;
  }
}

.content {
  margin-top: var(--margin-top);
  .title {
    font-weight: 600;
    font-size: var(--font-title);
    color: var(--primary-text);
  }

  .description {
    margin-top: 10px;
    font-size: var(--font-subtitle);
    color: var(--secondary-text);
  }
}
