@import '../../../../styles/mixins';

.wrapper {
  background-color: var(--background-content);
  padding-top: 150px;
  padding-bottom: 200px;
  @include mdMinBreakPoint {
    padding: 150px;
  }
  position: relative;
  .circle {
    display: none;
    @include mdMinBreakPoint {
      display: flex;
      &-small {
        min-width: 50px;
        min-height: 50px;
      }
      &-big {
        min-width: 146px;
        min-height: 146px;
      }
    }
    position: absolute;
    border-radius: 50%;

    background-color: var(--background-pink);
    &-small {
      left: 10%;
      transform: translateY(-100%);
    }
    &-big {
      left: -3%;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);
  padding: 0 20px;
  @include mdMinBreakPoint {
    max-width: #{$md};
    margin: 0 auto;
  }
  @include lgMinBreakPoint {
    max-width: #{$lg};
    padding: 0;
  }
  @include xlMinBreakPoint {
    max-width: #{$xl};
  }
}

.content {
  max-width: 470px;
}

.title {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.email {
  margin-top: 20px;
  display: flex;
  gap: 0 10px;
  height: 46px;
  justify-content: center;
  @include mdMinBreakPoint {
    height: 56px;
  }
  input {
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    padding-left: 10px;
    flex: 1;
    @include mdMinBreakPoint {
      max-width: 440px;
    }
  }
  .btn {
    flex-shrink: 0;
  }
}
