:root {
  --primary-color: #145ff0;
  --secondary-color: #cccccc;

  --white-color: #fff;
  --black-color: #000;

  --primary-text: #06183d;
  --secondary-text: #60646d;

  --primary-background: #fff3f0;
  --secondary-background: #fa8d74;

  --font-family: 'Poppins', sans-serif;

  --border-radius-btn: 4px;

  --large-width-btn: 150px;
  --large-height-btn: 56px;

  --medium-width-btn: 107px;
  --medium-height-btn: 35px;

  --header-height: 968px;
  --footer-height: 60px;

  --nav-width: 60px;
  --content-width: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--text-primary);
  overflow-y: overlay;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
